/* @font-face {
  font-family: 'MyFont';
  src: url('../fonts/MyCustomFont.woff2') format('woff2'),
       url('../fonts/MyCustomFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

* {
  font-family: 'Roboto', sans-serif;
}